Repository ansible-community/molecule-plugins, pull requests merged in 2024-10, with the labels that each got.

#269 implement reset for podman driver
  src/molecule_plugins/podman/driver.py
  src/molecule_plugins/podman/playbooks/create.yml
Labels: podman, feature

#258 lint and update action paths
  .github/workflows/ack.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/tox.yml
  README.md
  test/gce/scenarios/linux/INSTALL.md
  test/gce/scenarios/windows/INSTALL.md
Labels: bug

#268 docker: allow `import docker` in `reset` to fail
  src/molecule_plugins/docker/driver.py
Labels: bug, docker

#275 Vagrant: `test_vagrant_root[box_url]` fails due to missing box (#274)
  test/vagrant-plugin/scenarios/molecule/box_url/molecule.yml
Labels: bug, vagrant

#272 GCE: Added network tags support
  src/molecule_plugins/gce/playbooks/tasks/create_linux_instance.yml
  src/molecule_plugins/gce/playbooks/tasks/create_windows_instance.yml
Labels: enhancement, gce
