Repository ansible-community/molecule-plugins, pull requests merged in 2025-01, with the labels that each got.

#257 Update the `community.docker` collection
  requirements.yml
  src/molecule_plugins/docker/driver.py
Labels: bug

#287 Add docs on creating new releases
  README.md
Labels: documentation, skip-changelog

#289 Vagrant: Reducing whitespace in Vagrantfile
  src/molecule_plugins/vagrant/modules/vagrant.py
Labels: vagrant, patch

#288 bug: missing until for retry in gce plugin
  src/molecule_plugins/gce/playbooks/tasks/create_linux_instance.yml
  src/molecule_plugins/gce/playbooks/tasks/create_windows_instance.yml
Labels: gce, patch

#263 Openstack add public IP options
  doc/openstack/platforms.rst
  src/molecule_plugins/openstack/driver.py
  src/molecule_plugins/openstack/playbooks/create.yml
Labels: enhancement, openstack

#292 Fix deprecated xfreerdp option for winrm targets of EC2 plugin
  src/molecule_plugins/ec2/driver.py
Labels: bug, ec2

#294 [Molecule v25.1.0] Replace util.run_command with app.run_command
  .github/workflows/release.yml
  .github/workflows/tox.yml
  conftest.py
  pyproject.toml
  src/molecule_plugins/docker/driver.py
  src/molecule_plugins/podman/driver.py
  src/molecule_plugins/vagrant/modules/vagrant.py
  test/azure/functional/test_azure.py
  test/containers/functional/test_containers.py
  test/docker/test_func.py
  test/ec2/functional/test_ec2.py
  test/gce/functional/test_func.py
  test/openstack/test_func.py
  test/podman/test_func.py
  test/vagrant-plugin/functional/test_func.py
Labels: bug

#279 EC2: Change logic of deleting resources
  src/molecule_plugins/ec2/cookiecutter/{{cookiecutter.molecule_directory}}/{{cookiecutter.scenario_name}}/destroy.yml
Labels: bug, ec2

#296 .github/workflows/release.yml: Fix release
  .github/workflows/release.yml
Labels: bug
